.dropArea {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 300px;
    background-color: rgb(51, 208, 69);
  }
  label {
    width: 100% !important;
    height: 200px !important;
    box-sizing: border-box;
    border: solid 2px rgb(41, 48, 248) !important;
  }
  span {
    font-size: 4vh;
  }
  .resultArea {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 300px;
    background-color: rgb(254, 127, 9);
  }